<body>
    <section class="content ecommerce-page">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Modifier un établissement
                        <small class="text-muted">Bienvenue à elearning Backoffice</small>
                    </h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a routerLink="/backoffice"><i class="zmdi zmdi-home"></i>
                            SuperAdmin</a>
                        </li>
                        <li class="breadcrumb-item active"><a routerLink="/backoffice/etablissements">Établissements</a></li>
                        <li class="breadcrumb-item active">Modifier un établissement</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="main-content">
                <section class="section">
                    <div class="section-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
                                        <div class="card-body">
                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Nom
                                                   </label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input  type="text" formControlName="firstName" class="form-control" 
                                                        placeholder="Entrez le nom du l'utilisateur" [(ngModel)]="etablissement.firstName"  [ngClass]="{ 'is-invalid': submitted && fval_2.firstName.errors }"
                                                         />  
                                                           
                                                        <div *ngIf="submitted && fval_2.firstName.errors" class="invalid-feedback">
                                                            <div *ngIf="fval_2.firstName.errors.required">Champs obligatoire</div>
                                                        </div>
                                                </div>
                                               
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Numero de registre 
                                                   </label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input type="text" formControlName="numeroRegister" class="form-control" 
                                                        placeholder="Entrez le numreo de registre du l'établissement"  [(ngModel)]="etablissement.numeroRegister" 
                                                        [ngClass]="{ 'is-invalid': submitted && fval_2.numeroRegister.errors }" />  

                                                        <div *ngIf="submitted && fval_2.numeroRegister.errors" class="invalid-feedback">
                                                            <div *ngIf="fval_2.numeroRegister.errors.required">Champs obligatoire</div>
                                                            <div *ngIf="fval_2.numeroRegister.errors.pattern">Ce champs doit contenir seulement des
                                                                chiffres.</div>
                                                                <div *ngIf="fval_2.numeroRegister.errors.minlength">Ce Chapms doit avoir au minumin 8 chiffres</div>
                                                        </div>
                                                </div>
                                               
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Pays 
                                                   </label>
                                                <div *ngIf="roles" class="col-sm-12 col-md-7">
                                                    <!--
                                                    <input type="text" formControlName="pays" class="form-control" 
                                                        placeholder="Entrez le pays  du l'établissement"  
                                                        [ngClass]="{ 'is-invalid': submitted && fval_2.pays.errors }" />  
                                                    -->
                                                      <!-- Europe -->
                                                     <select  formControlName="pays" class="form-control" [(ngModel)]="etablissement.pays"   [ngClass]="{ 'is-invalid': submitted && fval_2.pays.errors }" >
                                                    
                                                        
                                                        <option value="" disabled selected>Choisissez le pays de l'etablissement
                                                            
                                                        </option>
                                                     <option >Iles Aland</option>
                                                     <option >Albanie</option>
                                                     <option >Andorre</option>
                                                     <option >L'Autriche</option>
                                                     <option >Biélorussie</option>
                                                     <option >Belgique</option>
                                                     <option >Bosnie Herzégovine</option>
                                                     <option>Bulgarie</option>
                                                     <option>Croatie</option>
                                                     <option >République Tchèque</option>
                                                     <option >Danemark</option>
                                                     <option >Estonie</option>
                                                     <option >Îles Féroé</option>
                                                     <option >Finlande</option>
                                                     <option >France</option>
                                                     <option >Allemagne</option>
                                                     <option >Gibraltar</option>
                                                     <option >Grèce</option>
                                                     <option >Guernesey</option>
                                                     <option >Saint-Siège (État de la Cité du Vatican)</option>
                                                     <option >Hongrie</option>
                                                     <option >Islande</option>
                                                     <option >Irlande</option>
                                                     <option >île de Man</option>
                                                     <option >Italie</option>
                                                     <option >Jersey</option>
                                                     <option >Kosovo</option>
                                                     <option >Lettonie</option>
                                                     <option >Liechtenstein</option>
                                                     <option >Lituanie</option>
                                                     <option >Luxembourg</option>
                                                     <option >Macédoine, ancienne République yougoslave de</option>
                                                     <option >Malte</option>
                                                     <option >Moldova, République de</option>
                                                     <option >Monaco</option>
                                                     <option >Monténégro</option>
                                                     <option >Pays-Bas</option>
                                                     <option >Norvège</option>
                                                     <option >Pologne</option>
                                                     <option >Le Portugal</option>
                                                     <option >Roumanie</option>
                                                     <option >Saint Marin</option>
                                                     <option >Serbie</option>
                                                     <option >Serbie et Monténégro</option>
                                                     <option >Slovaquie</option>
                                                     <option >Slovénie</option>
                                                     <option >Espagne</option>
                                                     <option >Svalbard et Jan Mayen</option>
                                                     <option >Suède</option>
                                                     <option >la Suisse</option>
                                                     <option >Ukraine</option>
                                                    <option >Royaume-Uni</option>
                                                    </select>
                                                        <div *ngIf="submitted && fval_2.pays.errors" class="invalid-feedback">
                                                            <div *ngIf="fval_2.pays.errors.required">Champs obligatoire</div>
                                                        </div>
                                                </div>
                                               
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Adresse 
                                                   </label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input type="text" formControlName="adresse" class="form-control" 
                                                        placeholder="Entrez l'adresse  du l'établissement"   [(ngModel)]="etablissement.adresse" 
                                                        [ngClass]="{ 'is-invalid': submitted && fval_2.adresse.errors }" />  

                                                        <div *ngIf="submitted && fval_2.adresse.errors" class="invalid-feedback">
                                                            <div *ngIf="fval_2.adresse.errors.required">Champs obligatoire</div>
                                                        </div>
                                                </div>
                                               
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Telephone Fixe 
                                                   </label>
                                                <div  class="col-sm-12 col-md-7">
                                                    <input type="text" formControlName="telephoneFixe" class="form-control" 
                                                        placeholder="Entrez le telephoneFixe  du l'établissement"   [(ngModel)]="etablissement.telephoneFixe" 
                                                        [ngClass]="{ 'is-invalid': submitted && fval_2.telephoneFixe.errors }" />  

                                                        <div *ngIf="submitted && fval_2.telephoneFixe.errors" class="invalid-feedback">
                                                            <div *ngIf="fval_2.telephoneFixe.errors.required">Champs obligatoire</div>
                                                            <div *ngIf="fval_2.telephoneFixe.errors.pattern">Ce champs doit contenir seulement des
                                                                chiffres.</div>
                                                                <div *ngIf="fval_2.telephoneFixe.errors.minlength">Ce Chapms doit avoir au minumin 8 chiffres</div>
                                                        </div>
                                                </div>
                                               
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Site Web 
                                                   </label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input type="text" formControlName="siteWeb" class="form-control" 
                                                        placeholder="Entrez le site Web  du l'établissement"  [(ngModel)]="etablissement.siteWeb" 
                                                        [ngClass]="{ 'is-invalid': submitted && fval_2.siteWeb.errors }" />  

                                                        <div *ngIf="submitted && fval_2.siteWeb.errors" class="invalid-feedback">
                                                            <div *ngIf="fval_2.siteWeb.errors.required">Champs obligatoire</div>
                                                        </div>
                                                </div>
                                               
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Url 
                                                   </label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input type="text" formControlName="url" class="form-control" 
                                                        placeholder="Entrez le site Web  du l'établissement"  [(ngModel)]="etablissement.url" 
                                                        [ngClass]="{ 'is-invalid': submitted && fval_2.url.errors }" />  

                                                        <div *ngIf="submitted && fval_2.url.errors" class="invalid-feedback">
                                                            <div *ngIf="fval_2.url.errors.required">Champs obligatoire</div>
                                                        </div>
                                                </div>
                                               
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Type
                                                   </label>
                                                <div *ngIf="roles" class="col-sm-12 col-md-7">
                                                    <select formControlName="type" class="form-control"  [(ngModel)]="etablissement.type" >
                                                        
                                                        <option value="" disabled selected>Choisissez le type de l'etablissement
                                                            
                                                        </option>
                                                        <option>créche</option>
                                                        <option>centre de formation</option>
                                                        
                                                    </select>
                                                        
                                                 
                                                </div>
                                            </div>

                                      <!--      <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">role
                                                   </label>
                                                <div *ngIf="roles" class="col-sm-12 col-md-7">
                                                    <select multiple formControlName="role" class="form-control" [(ngModel)]="etablissement.role._id" [ngClass]="{ 'is-invalid': submitted && fval_2.role.errors }">
                                                        
                                                        <option value="" disabled selected>changer le rôle
                                                            pour l'utilisateur 
                                                            
                                                        </option>
                                                        <option *ngFor="let i of roles"  [value]="i._id" >{{i.type}}</option>
                                                    </select>
                                                        
                                                    <div *ngIf="submitted && fval_2.role.errors" class="invalid-feedback">
                                                        <div *ngIf="fval_2.role.errors.required">Champs obligatoire</div>
                                                    </div>   
                                                </div>
                                            </div>
                                        -->

                                        <div class="form-group row mb-4">
                                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">modifier les rôles pour cet etablissement  :
                                            </label>
                                            <div class="col-sm-12 col-md-7">   
                                            <br>
                                            <div *ngFor="let i of toutesroles" >
                                                <div >
                                                <input type="checkbox" (change)="i.selected = !i.selected" [checked]="i.selected" >
                                                <label  >{{i.type}}</label>
                                                </div> 
                                              </div>
                                             
                                              <strong class="clas">l'etablissement doit comprendre au minumun un rôle  </strong>
                                            </div>
                                           
                                        </div>


                                        
                                           
                                            <br>
                                            <br>
                                            <div class="form-group row mb-4">
                                                <label
                                                    class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                                <div class="col-sm-12 col-md-7">
                                                    <button  class="btn btn-primary" value="submit"
                                                        type="submit">Modifier</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    
   
</body>
