<body>
    <section class="content ecommerce-page">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Ajout d'un nouveau cours
                        <small class="text-muted">Bienvenue à BrainNut </small>
                    </h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a routerLink="/EnseignantHome"><i class="zmdi zmdi-home"></i>
                                Directeur</a>
                        </li>
                        <li class="breadcrumb-item active"><a routerLink="/EnseignantHome/cours">Cours</a></li>
                        <li class="breadcrumb-item active">Ajout d'un cours</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="main-content">
                <section class="section">
                    <div class="section-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <form [formGroup]="registerForm"   >
                                        <div class="card-body">
                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Nom
                                                   </label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input type="text" formControlName="nom" class="form-control" 
                                                        placeholder="Entrez-le nom du cours"  
                                                        [ngClass]="{ 'is-invalid': submitted && fval_2.nom.errors }" />  

                                                        <div *ngIf="submitted && fval_2.nom.errors" class="invalid-feedback">
                                                            <div *ngIf="fval_2.nom.errors.required">Champs obligatoire</div>
                                                        </div>
                                                </div>
                                               
                                            </div>

                                         
                                           


                                         

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Matiere
                                                   </label>
                                                <div *ngIf="matieres" class="col-sm-12 col-md-7">
 
                                                    <select formControlName="matiere" class="form-control"  [ngClass]="{ 'is-invalid': submitted && fval_2.matiere.errors }">
                                                        
                                                        <option value="" disabled selected>choisissez la matière de ce cours 
                                                            
                                                        </option>
                                                        <option *ngFor="let i of matieres"  [value]="i._id" >{{i.nom}}</option>
                                                    </select>
                                                        
                                                    <div *ngIf="submitted && fval_2.matiere.errors" class="invalid-feedback">
                                                        <div *ngIf="fval_2.matiere.errors.required">Champs obligatoire</div>
                                                    </div>   
                                                </div>
                                            </div>
<!--
                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">classes
                                                   </label>
                                                <div  *ngIf="classes" class="col-sm-12 col-md-7">
                                                    <select formControlName="classe" class="form-control"  [ngClass]="{ 'is-invalid': submitted && fval_2.classe.errors }">
                                                        
                                                        <option value="" disabled selected>Entrez le rôle du l'utilisateur
                                                            
                                                        </option>
                                                        <option *ngFor="let i of classes"  [value]="i._id" >{{i.nom}}</option>
                                                    </select>
                                                        
                                                    <div *ngIf="submitted && fval_2.classe.errors" class="invalid-feedback">
                                                        <div *ngIf="fval_2.classe.errors.required">Champs obligatoire</div>
                                                    </div>   
                                                </div>
                                            </div>
                                        -->

                                        <div class="form-group row mb-4">
                                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Classes
                                            </label>
                                            
                                            <div class="col-sm-12 col-md-7">  
                                                <br>
                                                <br>
                                        <div *ngFor="let i of classes" >
                                            <input formControlName="classe" type="checkbox" (change)="onChange()" [(ngModel)]="i.selected" >
                                            <label  >{{i.nom}}</label>
                                          </div>
                                        
                                          </div>
                                        </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Fichier
                                                   </label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input #fileInput type="file" formControlName="file" class="form-control" 
                                                       
                                                        [ngClass]="{ 'is-invalid': submitted && fval_2.file.errors }" />  

                                                        <div *ngIf="submitted && fval_2.file.errors" class="invalid-feedback">
                                                            <div *ngIf="fval_2.file.errors.required">Champs obligatoire</div>
                                                        </div>
                                                </div>
                                               
                                            </div>
                                           
                                            <br>
                                            <br>
                                            <div class="form-group row mb-4">
                                                <label
                                                    class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                                <div class="col-sm-12 col-md-7">
                                                    <button (click)="onSubmit()" class="btn btn-primary" value="submit"
                                                        type="submit">Ajouter</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</body>



