@import "../../assets/backoffice/plugins/bootstrap/css/bootstrap.min.css";
@import "../../assets/backoffice/css/main.css";
@import "../../assets/backoffice/css/authentication.css";
@import "../../assets/backoffice/css/color_skins.css";

::ng-deep body {
  font-family: Avenir, sans-serif !important;
  h5 {
    font-weight: 600 !important;
  }
}
::ng-deep .authentication .card-plain.card-plain .form-control {
  font-weight: 600 !important;
}
::ng-deep .navbar-nav {
  margin-top: 30px !important;
  .website-link {
    color: var(--dil-green) !important;
  }
  .btn-signup {
    background-color: var(--dil-green) !important;
    padding: 5px 22px !important;
  }
}
::ng-deep .input-group-addon {
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 0px 30px 30px 0px !important;
}


//
.page-header {
  height: 100vh;
  max-height: 1050px;
  padding: 0;
  color: #fff;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-image: url('src/assets/backoffice/images/login.png') ;
}



//


.alert.alert-danger {
  color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    font-size: 1rem
  }
