/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500&display=swap');

:root {
//--dil-green: #00cc88; #61C0BF // ancien couleur 
--dil-green: #61C0BF;
--dil-grey: #edecec;
--dil-blue: #053b6e;
}
// ajouter boootstratp pour  fzire le modal
////@import "~bootstrap/dist/css/bootstrap.css";

