<html class="no-js ">

<body class="theme-cyan authentication sidebar-collapse">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-transparent">
        <div class="container">
            <div class="navbar-translate n_logo">
                <a class="navbar-brand" href="#" title="" target="_blank" style="visibility: hidden;">ELEARNING BO</a>
                <button class="navbar-toggler" type="button" style="width: 60px;">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="website-link nav-link" routerLink="/">Website</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn-signup nav-link btn btn-primary btn-round" routerLink="/admin">Se connecter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="page-header">
        <div class="page-header-image"
            style="background-image:url(assets/ELEARNING/login_ELEARNING.webp) !important; z-index: 0 !important;filter: blur(4px) !important;">
        </div>
        <div class="container">
            <div class="col-md-12 content-center">
                <div class="card-plain">
                    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSignUp()">
                        <div class="header">
                            <div class="logo-container">
                                <img src="assets/ELEARNING/logo ELEARNING site web.png" alt="">
                            </div>
                            <h5>Création de compte</h5>
                        </div>
                        <div class="content">
                            <div class="input-group">
                                <input id="first" type="text" formControlName="firstName" class="form-control"
                                    placeholder="Entrez votre prénom"
                                    [ngClass]="{ 'is-invalid': submitted && fval_2.firstName.errors }" />
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-account-circle"></i>
                                </span>
                                <div *ngIf="submitted && fval_2.firstName.errors" class="invalid-feedback">
                                    <div *ngIf="fval_2.firstName.errors.required">Champs obligatoire</div>
                                </div>
                            </div>
                            <div class="input-group">
                                <input id="last" type="text" formControlName="lastName" class="form-control"
                                    placeholder="Entrez votre nom"
                                    [ngClass]="{ 'is-invalid': submitted && fval_2.lastName.errors }" />
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-account-circle"></i>
                                </span>
                                <div *ngIf="submitted && fval_2.lastName.errors" class="invalid-feedback">
                                    <div *ngIf="fval_2.lastName.errors.required">Champs obligatoire</div>
                                </div>

                            </div>
                            <div class="input-group">
                                <input id="tel" type="text" formControlName="phone" class="form-control"
                                    placeholder="Entrez votre numéro de téléphone"
                                    [ngClass]="{ 'is-invalid': submitted && fval_2.phone.errors }" />
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-phone"></i>
                                </span>
                                <div *ngIf="submitted && fval_2.phone.errors" class="invalid-feedback">
                                    <div *ngIf="fval_2.phone.errors.required">Champs obligatoire</div>
                                    <div *ngIf="fval_2.phone.errors.pattern">Ce champs doit contenir seulement des
                                        chiffres.</div>
                                    <div *ngIf="fval_2.phone.errors.minlength">riiiiiiiiiiiiiiiiiiiii</div>
                                </div>

                            </div>
                            <div class="input-group">
                                <input id="mail" type="text" formControlName="email" class="form-control"
                                    placeholder="Entrez votre adresse email"
                                    [ngClass]="{ 'is-invalid': submitted && fval_2.email.errors }" />
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-email"></i>
                                </span>
                                <div *ngIf="submitted && fval_2.email.errors" class="invalid-feedback">
                                    <div *ngIf="fval_2.email.errors.required">Champs obligatoire</div>
                                    <div *ngIf="fval_2.email.errors.email">Merci de saisir une adresse email valide.
                                    </div>
                                </div>

                            </div>
                            <div class="input-group">
                                <input id="pass" type="password" formControlName="password"
                                    [ngClass]="{ 'is-invalid': submitted && fval_2.password.errors }"
                                    placeholder="Entrez votre mot de passe" class="form-control" />
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-lock"></i>
                                </span>
                                <div *ngIf="submitted && fval_2.password.errors" class="invalid-feedback">
                                    <div *ngIf="fval_2.password.errors.required">Champs obligatoire</div>
                                </div>
                               

                            </div>
                        </div>
                        <div class="checkbox">

                            <input id="check_2" type="checkbox" name="policy_checked" formControlName="policy_checked"
                                [ngClass]="{ 'is-invalid': submitted && fval_2.policy_checked.errors }" required>
                            <label for="check_2">
                                J'ai lu et j'accepte <a routerLink="/policy"
                                    style="color: var(--dil-green) !important;">les conditions générales</a>
                            </label>

                        </div>
                        <label *ngIf="submitted && fval_2.policy_checked.errors">
                            <div *ngIf="fval_2.policy_checked.errors.required" style="color: #d74751;">Il faut accepter
                                les
                                conditions
                                générales.</div>
                        </label>
                        <div class="footer text-center">
                            <input type="submit" class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light"
                                style="background: linear-gradient(45deg, var(--dil-green), var(--dil-green)) !important;"
                                value="S'inscrire" [disabled]="loading">
                            <!-- <a (click)="onSignIn()"
                                class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light"
                                style="background: linear-gradient(45deg, var(--dil-green), var(--dil-green)) !important;">SIGN IN</a> -->
                            <h6 class="m-t-20"><a routerLink="/admin" class="link">Vous avez déjà un compte ?</a>
                            </h6>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
            </div>
        </footer>
    </div>
</body>

</html>